<!--About Component html page-->
<div fxLayout="column" class="main-welcome" fxLayoutGap=10px>
  <h1 fxFlex class="title">
      Nodebucket Task Manager<br />
   </h1>
    <br />
      <h2 class="aboutContent">
            Nodebucket is a simple and easy to use task management application. It was developed in 2010,
            by Ashleigh Lyman. The goal is to provide a platform for users to handle tasks to their specs.
            It offers a secure employee login screen which only accepts verified credentials.
            Once access is granted users are able to view, edit, and delete task information.
            They have the ability to drag and drop their tasks back and forth between lists.
            A delete button will remove the task object from either list. I will display an event message.
        </h2>

    <br />
    <br />
        <h2 class="aboutContent">
            Nodebucket is ideal for when you are on the go and need to manage your lists.
            A simple touch or grab will enable the drag and drop feature between lists.
            Data and login credentials are stored securely upon gaining access to the application.
            Nodebucket is great for managing many styles, types, and intentions of lists.
            To help you stay organized, informed, consistent, and punctual. Use Nodebucket!
        </h2>
</div>

<!--End of page-->
